/* VW Brand Fonts — Licensed */

@font-face {
  font-family: vw-head;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('../fonts/vwhead-light.woff2') format('woff2');
}

@font-face {
  font-family: vw-head;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/vwhead-regular.woff2') format('woff2');
}

@font-face {
  font-family: vw-head;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/vwhead-bold.woff2') format('woff2');
}

@font-face {
  font-family: vw-text;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/vwtext-regular.woff2') format('woff2');
}

@font-face {
  font-family: vw-text;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/vwtext-bold.woff2') format('woff2');
}
